:root {
    --font-family: 'Open Sans', sans-serif;
    --font-family-header: 'Open Sans', sans-serif;
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-size-xlarge: 30px;
    --font-size-large: 25px;
    --font-size-medium: 20px;
    --font-size: 16px;
    --font-size-small: 14px;
 	--lineheight-high: 1.75em;
    --lineheight-normal: 1.5em;
    --lineheight-tight: 1.2em;
    --margin-base: 20px;
    --margin-large: 40px;
    --margin-xlarge: 60px;
    --margin-xxlarge: 80px;
    --margin-xxxlarge: 100px;
    --grid-gap: 60px;
    --grid-gap-small: 20px;
    --grid-gap-vsmall: 0px;
    --max-width: 92rem;
    --color-base: #333333;
    --color-accent : #808080;
    --color-accent-second : #333333;
}

@media (min-width: 768px) {
	:root {
		--font-size-xlarge: 30px;
	    --font-size-large: 28px;
	    --font-size-medium: 20px;
	    --font-size: 16px;
	}
}

@media (min-width: 1200px) {
	:root {
		--font-size-xlarge: 34px;
	    --font-size-large: 28px;
	    --font-size-medium: 20px;
	    --font-size: 16px;
	}
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block; 
	zoom:1;
}

audio, canvas, video { 
	display: inline-block; *display: inline; *zoom: 1; 
}

img {
	width: 100%;
}


@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

html {
box-sizing: border-box;
overflow-x: hidden;
-webkit-text-size-adjust: 100%;
height: 100%;
}

*, *:before, *:after {
box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: var(--font-family);
	background: #fff;
	background-size: 100%;
	display: grid;
	grid-template-columns: 1fr;
	color: #1a1a1a;
	height: 100%;
}

html {
	background-color: white;
}

::-moz-selection {
    background-color: var(--color-background-selection);
    text-shadow: none
}

::selection {
    background-color: var(--color-background-selection);
    text-shadow: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-family: var(--font-family-header);
    line-height: var(--lineheight-tight);
    font-weight: var(--font-weight-bold);
    color: var(--color-base);
    letter-spacing: -0.01em;
}

h1 {
    font-size: var(--font-size-xlarge);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium)
}

h4 {
    font-size: var(--font-size)
}

h5,
h6,
p,
ul,
ol {
    font-size: var(--font-size);
    line-height: var(--lineheight-high);
    font-weight: var(--font-weight);
}

p {
	margin-bottom: 30px;
	//text-align: justify;
}

a {
	color: inherit;
	font-weight: var(--font-weight-bold);
}

a:hover {
	text-decoration: none;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
	text-decoration: none;
}

blockquote {
	position: relative;
	padding-left: 20px;
}

.uppercase {
	text-transform: uppercase;
}

.bold,
strong,
b {
	font-weight: var(--font-weight-bold);
}

blockquote {
	font-family: 'Crete Round', serif;
	font-weight: 400;
	line-height: 1.2;
	font-size: 20px;
	color: #999;
	padding: 30px;
	position: relative;
	text-align: center;
	grid-row: 2;
}

blockquote:before {
	content: '\201C';
	position: absolute;
	font-size: 100px;
	top: -10px;
	left: 50%;
	width: 80px;
	height: 80px;
	display: block;
	color: #6b0913;
	font-family: georgia, serif;
	margin-left: -40px;
}

p + blockquote {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 80px;
}

.main-quote {
	padding: 60px 40px;
	color: #6b0913;
	font-size: 30px;
	font-weight: 700;
	margin: 40px 0 0;
	grid-row: 3;
}

strong {
	font-weight: var(--font-weight-bold);
}

img {
	width: 100%;
}

p {
	font-size: 15px;
	line-height: 1.4em;
}

p:last-child {
	margin-bottom: 0;
}

main {
	display: grid;
	padding: 20px 20px 0 20px;
	grid-template-columns: 1fr;
	grid-gap: 20px 4vw;
	margin: 50px 0;
}

img {
	margin: 0 0 40px;
}

.supporting-content div + div {
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
	body {
		grid-template-columns: 5% 1fr 5%;
	}

	main {
		padding: 20px 20px 0;
		grid-template-columns: 1fr;
		grid-gap: 20px 50px;
		grid-column: 2;
	}

	.headers {
		padding: 0 20px;
		grid-column: 1/-1;
		grid-row: 1;
		margin-top: 50px;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		grid-template-columns: 10% 1fr 10%;
		padding: 50px 0;
	}

	main {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 50px;
	}

	.hero-img {
		grid-column: 1/5;
	}

	.hero-content {
		grid-column: 5/7;
	}

	.main-content {
		grid-column: 1/4;
	}

	.supporting-content {
		grid-column: 4/7;
	}

}




