:root {
    --font-family: 'Open Sans', sans-serif;
    --font-family-header: 'Open Sans', sans-serif;
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-size-xlarge: 30px;
    --font-size-large: 25px;
    --font-size-medium: 20px;
    --font-size: 16px;
    --font-size-small: 14px;
 	--lineheight-high: 1.75em;
    --lineheight-normal: 1.5em;
    --lineheight-tight: 1.2em;
    --margin-base: 20px;
    --margin-large: 40px;
    --margin-xlarge: 60px;
    --margin-xxlarge: 80px;
    --margin-xxxlarge: 100px;
    --grid-gap: 60px;
    --grid-gap-small: 20px;
    --grid-gap-vsmall: 0px;
    --max-width: 92rem;
    --color-base: #333333;
    --color-accent : #808080;
    --color-accent-second : #333333;
}

@media (min-width: 768px) {
	:root {
		--font-size-xlarge: 30px;
	    --font-size-large: 28px;
	    --font-size-medium: 20px;
	    --font-size: 16px;
	}
}

@media (min-width: 1200px) {
	:root {
		--font-size-xlarge: 34px;
	    --font-size-large: 28px;
	    --font-size-medium: 20px;
	    --font-size: 16px;
	}
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block; 
	zoom:1;
}

audio, canvas, video { 
	display: inline-block; *display: inline; *zoom: 1; 
}

img {
	width: 100%;
}


@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

html {
box-sizing: border-box;
overflow-x: hidden;
-webkit-text-size-adjust: 100%;
height: 100%;
}

*, *:before, *:after {
box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: var(--font-family);
	background: #fff;
	background-size: 100%;
	display: grid;
	grid-template-columns: 1fr;
	color: #1a1a1a;
	height: 100%;
}

html {
	background-color: white;
}

::-moz-selection {
    background-color: var(--color-background-selection);
    text-shadow: none
}

::selection {
    background-color: var(--color-background-selection);
    text-shadow: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 var(--margin-base);
    font-family: var(--font-family-header);
    line-height: var(--lineheight-tight);
    font-weight: var(--font-weight-bold);
    color: var(--color-base);
    letter-spacing: -0.01em;
}

h1 {
    margin: 0 0 var(--spacing-x-large);
    font-size: var(--font-size-xlarge);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium)
}

h4 {
    font-size: var(--font-size)
}

h5,
h6,
p,
ul,
ol {
    font-size: var(--font-size);
    line-height: var(--lineheight-high);
    font-weight: var(--font-weight);
}

p {
	margin-bottom: 30px;
	//text-align: justify;
}

a {
	color: inherit;
	font-weight: var(--font-weight-bold);
}

a:hover {
	text-decoration: none;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
	text-decoration: none;
}

.headline {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
	line-height: var(--lineheight-normal);
	margin-bottom: 40px;
}

.xlarge {
	font-size: var(--font-size-xlarge);
	line-height: var(--lineheight-tight);
	margin-bottom: 20px;
}

.large {
	font-size: var(--font-size-large);
	line-height: var(--lineheight-tight);
	margin-bottom: 20px;
}

.medium {
	font-size: var(--font-size-medium);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-tight);
}

.standard {
	font-size: var(--font-size);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-normal);
}

.small {
	font-size: var(--font-size-small);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-normal);
}

blockquote {
	position: relative;
	padding-left: 20px;
}

.uppercase {
	text-transform: uppercase;
}

.bold,
strong,
b {
	font-weight: var(--font-weight-bold);
}

blockquote {
	font-family: 'Crete Round', serif;
	font-weight: 400;
	line-height: 1.2;
	font-size: 20px;
	color: #999;
	padding: 30px;
	position: relative;
	text-align: center;
	grid-row: 2;
}

blockquote:before {
	content: '\201C';
	position: absolute;
	font-size: 100px;
	top: -10px;
	left: 50%;
	width: 80px;
	height: 80px;
	display: block;
	color: #6b0913;
	font-family: georgia, serif;
	margin-left: -40px;
}

p + blockquote {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 80px;
}

.main-quote {
	padding: 60px 40px;
	color: #6b0913;
	font-size: 30px;
	font-weight: 700;
	margin: 40px 0 0;
	grid-row: 3;
}

strong {
	font-weight: var(--font-weight-bold);
}

img {
	width: 100%;
}

p {
	font-size: 15px;
	line-height: 1.4em;
}

p:last-child {
	margin-bottom: 0;
}

main {
	display: grid;
	padding: 20px 20px 0 20px;
	grid-template-columns: 1fr;
	grid-gap: 20px 4vw;
}

.headers {
	padding: 0 20px;
	align-self: flex-start;
	grid-column: 1;
	grid-row: 1;
	display: grid;
}

h1 {
	font-size: 13vw;
	font-weight: 700;
	z-index: 3;
	margin: -20px 0 0 0;
	color: #0abdb6;
	transform: rotate(-2deg);
	text-shadow: -8px 8px 0px white;
	letter-spacing: -2px;
}

h2 {
	font-size: 5vw;
	font-weight: 700;
	z-index: 4;
	margin: 0;
	padding: 10px 30px;
	color: #fff;
	background-color: #6b0913;
	display: inline-block;
	transform: rotate(2deg);
	justify-self: flex-end;
	letter-spacing: -2px;
	grid-column: 1/-1;
	grid-row: 2;
}

.div-one {
	overflow: hidden;
	padding-bottom: 40px;
}

.bold {
	font-weight: 700;
}

.copy {
	grid-column: 1;
	align-content: flex-end;
	grid-row: 1;
	display: grid;
}

.copy-two {
	grid-row: 3;
}

.headers {
	grid-row: 1;
	padding: 0;
}

.image {
	grid-column: 1;
	grid-row: 6;
	position: relative;
	margin-bottom: -50px;
}

.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-pull {
	float: right;
	width: 60%;
	shape-outside: url('../img/vvd-shape2.png'); 
	height: auto;
}


@media only screen and (min-width: 768px) {
	body {
		grid-template-columns: 5% 1fr 5%;
	}

	main {
		padding: 20px 20px 0;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px 50px;
		grid-column: 2;
	}

	.headers {
		padding: 0 20px;
		grid-column: 1/-1;
		grid-row: 1;
		margin-top: 50px;
	}

	h1 {
		font-size: 10vw;
	}

	h2 {
		z-index: 1;
		font-size: 4vw;
	}

	.copy {
		grid-column: 1/-1;
	}

	.div-one {
		grid-column: 1/-1;
		overflow: visible;
		padding: 0;
	}

	.image-pull + p {
		margin-top: 50px;
	}

	.div-two {
		grid-column: 2;
		padding-bottom: 40px;
		align-self: center;
	}

	.image {
		grid-column: 1;
		grid-row: 5;
		margin-left: -300px;
	}

	.image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.image-pull {
		float: right;
		width: 40%;
	}

	.main-quote {
		grid-column: 1/-1;
		padding: 20px;
		max-width: 60%;
		margin: 40px auto 0;
	}

	blockquote:before {
		top: -10px;
		left: -10px;
		width: 80px;
		height: 80px;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		grid-template-columns: 10% 1fr 10%;
	}

	.image-pull + p {
		margin-top: 100px;
	}
}


@media only screen and (min-width: 1400px) {
	body {
		grid-template-columns: 0 1fr 0;
	}

	main {
		grid-template-columns: 1fr 1fr 2fr;
		grid-gap: 50px 4vw;
		padding: 50px 100px 0;
	}

	.headers {
		grid-column: 2/4;
		grid-row: 3;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	h1 {
		font-size: 9vw;
	}

	h2 {
		grid-row: 1;
		grid-column: 3;
		font-size: 3vw;
		align-self: flex-start;
		z-index: 1;
	}

	.image-pull + p {
		margin-top: 0;
	}

	.main-quote {
		grid-column: 1/3;
		grid-row: 1;
		padding: 50px 80px;
		color: #6b0913;
		font-size: 40px;
		font-weight: 700;
		max-width: 100%;
		margin: 0;
	}

	blockquote:before {
		font-size: 150px;
	}

	.div-one {
		grid-column: 1;
		grid-row: 2/ span 2;
		overflow: visible;
	}

	.div-two {
		grid-column: 2;
		grid-row: 2;
	}


	.image {
		grid-column: 3;
		grid-row: 1 / span 3;
		margin-right: 0;
		align-self: flex-end;
		z-index: 1;
		margin-left: -150px;
	}
}



