:root {
    --font-family: 'Ubuntu', sans-serif;
    --font-family-header: 'Ubuntu', sans-serif;
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-size-xlarge: 30px;
    --font-size-large: 25px;
    --font-size-medium: 20px;
    --font-size: 16px;
    --font-size-small: 14px;
 	--lineheight-high: 1.75em;
    --lineheight-normal: 1.5em;
    --lineheight-tight: 1.2em;
    --margin-base: 20px;
    --margin-large: 40px;
    --margin-xlarge: 60px;
    --margin-xxlarge: 80px;
    --margin-xxxlarge: 100px;
    --grid-gap: 60px;
    --grid-gap-small: 20px;
    --grid-gap-vsmall: 0px;
    --max-width: 92rem;
    --color-base: #333333;
    --color-accent : #808080;
    --color-accent-second : #333333;
}

@media (min-width: 768px) {
	:root {
		--font-size-xlarge: 58px;
	    --font-size-large: 28px;
	    --font-size-medium: 20px;
	    --font-size: 16px;
	}
}

@media (min-width: 1200px) {
	:root {
		--font-size-xlarge: 58px;
	    --font-size-large: 28px;
	    --font-size-medium: 20px;
	    --font-size: 16px;
	}
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block; 
	zoom:1;
}

audio, canvas, video { 
	display: inline-block; *display: inline; *zoom: 1; 
}

img {
	width: 100%;
}


@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

html {
box-sizing: border-box;
overflow-x: hidden;
-webkit-text-size-adjust: 100%
}

*, *:before, *:after {
box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: var(--font-family);
	background: #fff;
	background-size: 100%;
	display: grid;
	grid-template-columns: 1fr;
	color: #1a1a1a;
}

html {
	background-color: white;
}

::-moz-selection {
    background-color: var(--color-background-selection);
    text-shadow: none
}

::selection {
    background-color: var(--color-background-selection);
    text-shadow: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 var(--margin-base);
    font-family: var(--font-family-header);
    line-height: var(--lineheight-tight);
    font-weight: var(--font-weight-bold);
    color: var(--color-base);
    letter-spacing: -0.01em;
}

h1 {
    margin: 0 0 var(--spacing-x-large);
    font-size: var(--font-size-xlarge);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium)
}

h4 {
    font-size: var(--font-size)
}

h5,
h6,
p,
ul,
ol {
    font-size: var(--font-size);
    line-height: var(--lineheight-high);
    font-weight: var(--font-weight);
}

p {
	margin-bottom: var(--margin-large);
	//text-align: justify;
}

a {
	color: inherit;
	font-weight: var(--font-weight-bold);
}

a:hover {
	text-decoration: none;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
	text-decoration: none;
}

.headline {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
	line-height: var(--lineheight-normal);
	margin-bottom: 40px;
}

.xlarge {
	font-size: var(--font-size-xlarge);
	line-height: var(--lineheight-tight);
	margin-bottom: 20px;
}

.large {
	font-size: var(--font-size-large);
	line-height: var(--lineheight-tight);
	margin-bottom: 20px;
}

.medium {
	font-size: var(--font-size-medium);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-tight);
}

.standard {
	font-size: var(--font-size);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-normal);
}

.small {
	font-size: var(--font-size-small);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-normal);
}

blockquote {
	position: relative;
	padding-left: 20px;
}

.uppercase {
	text-transform: uppercase;
}

.bold,
strong,
b {
	font-weight: var(--font-weight-bold);
}

blockquote p {
	font-family: var(--font-family);
	font-weight: var(--font-weight-bold);
	line-height: var(--lineheight-normal);
	font-size: var(--font-size-large);
	font-style: italic;
}

blockquote .medium {
	font-size: var(--font-size-medium);
	color: var(--color-accent);
	font-weight: var(--font-weight);
	font-style: italic;
	text-transform: none;
}

blockquote:before {
	content: '';
	background: url(../img/quote.png) no-repeat center center;
	background-size: 70%;
	position: absolute;
	font-size: 100px;
	width: 100px;
	height: 100px;
	top: -40px;
	left: -65px;
}

p + blockquote {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 80px;
}

strong {
	font-weight: var(--font-weight-bold);
}

img {
	width: 100%;
}

main {
	grid-column: 1;
	grid-gap: 20px;
	display: grid;
	grid-template-columns: 120px 1fr 120px;
	padding: 20px;
	position: relative;
}

.lfccrest {
	grid-column: 1;
}

.lfccrest img {
	max-width: 60px;
}

article {
	grid-column: 1/-1;
}

h1 {
	font-size: 21vw;
	line-height: 0.7;
	margin-top: 50px;
}

h2 {
	font-size: 30px;
	line-height: 1.1em;
	margin: 30px 0;
	letter-spacing: -2px;
}

h3 {
	grid-column: 2/5;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin: 0;
	align-self: center;
	justify-self: flex-end;
	font-size: 16px;
}

p {
	font-size: 16px;
	line-height: 1.4em;
}


@media only screen and (min-width: 768px) {
	main {
		padding: 50px;
		grid-template-columns: 100px 1fr 50px;
		grid-gap: 40px;
	}

	article {
		grid-column: 2/-2;
		grid-row: 1;
		margin-top: 20px;
	}

	h1 {
		font-size: 13vw;
	}

	h2 {
		font-size: 36px;
		margin: 30px 0;
	}

	h3 {
		grid-column: 3;
		writing-mode: vertical-rl;
		align-self: flex-start;
		grid-row: 1;
		z-index: 2;
		padding: 20px;
		background-color: white;
	}

	.lfccrest {
		grid-column: 1;
		grid-row: 1;
		z-index: 2;
	}
}


@media only screen and (min-width: 1400px) {

	h1 {
		font-size: 9vw;
		grid-column: 1/-1;
		grid-row: 1;
	}

	h1 span {
		background-color: #d00027;
		color: white;
		padding: 30px;
		text-align: center;
		display: inline-block;
		letter-spacing: 0;
    	margin: 0 0 0 10px;
    	transform: rotate(-11deg);
	}

	h2 {
		font-size: 50px;
		margin: 30px 0;
		color: rgba(0,0,0,0.4);
		grid-column: 1/3;
	}

	main {
		grid-column: 1;
		padding: 30px;
		position: relative;
	}

	article {
		grid-column: 2/-2;
		grid-gap: 10px;
		display: grid;
		grid-template-columns: 2fr 2fr 0.5fr 1fr 2fr 2fr;
	}

	.img-01 {
		grid-column: 1;
		grid-row: 2;
		align-self: flex-end;
	}

	.img-02 {
		grid-column: 2;
		grid-row: 2;
		align-self: flex-end;
	}

	.img-03 {
		grid-column: 1/3;
		grid-row: 1;
	}

	.intro {
		font-size: 23px;
		line-height: 1.2;
	}

	section {
		grid-column: 5/7;
		grid-row: 1 / span 3;
	}

	.lfccrest img {
		max-width: 70px;
	}

	.twocolumn {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-width: 260px;
		-moz-column-width: 260px;
		column-width: 260px;
		-webkit-column-gap: 50px;
		-moz-column-gap: 50px;
		column-gap: 40px;
		align-self: center;
	}

	.player-profile {
		grid-column: 1/3;
		margin-left: -180px;
		text-align: right;
	}

	.player-profile h1 {
		text-align: right;
		text-transform: uppercase;
		line-height: 0.9;
		margin: 0 0 20px;
		font-weight: 300;
	}

	.content {
		grid-column: 2/4;
	}


}



