:root {
    --font-family: 'Muli', sans-serif;
    --font-family-header: 'Muli', sans-serif;
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-size-xlarge: 30px;
    --font-size-large: 25px;
    --font-size-medium: 20px;
    --font-size: 16px;
    --font-size-small: 14px;
 	--lineheight-high: 1.75em;
    --lineheight-normal: 1.5em;
    --lineheight-tight: 1.2em;
    --margin-base: 20px;
    --margin-large: 40px;
    --margin-xlarge: 60px;
    --margin-xxlarge: 80px;
    --margin-xxxlarge: 100px;
    --grid-gap: 60px;
    --grid-gap-small: 20px;
    --grid-gap-vsmall: 0px;
    --max-width: 92rem;
    --color-base: #333333;
    --color-accent : #808080;
    --color-accent-second : #333333;
}

@media (min-width: 1025px) {
	:root {
		--font-size-xlarge: 50px;
	    --font-size-large: 28px;
	    --font-size-medium: 18px;
	    --font-size: 16px;
	}
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block; 
	zoom:1;
}

audio, canvas, video { 
	display: inline-block; *display: inline; *zoom: 1; 
}

img {
	width: 100%;
}


@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

html {
box-sizing: border-box;
overflow-x: hidden;
-webkit-text-size-adjust: 100%
}

*, *:before, *:after {
box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: var(--font-family);
	background: #fff;
	background-size: 100%;
	display: grid;
	grid-template-columns: 1fr;
	color: #1a1a1a;
}

html {
	background-color: white;
}

::-moz-selection {
    background-color: var(--color-background-selection);
    text-shadow: none
}

::selection {
    background-color: var(--color-background-selection);
    text-shadow: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 var(--margin-base);
    font-family: var(--font-family-header);
    line-height: var(--lineheight-tight);
    font-weight: var(--font-weight-bold);
    color: var(--color-base);
    letter-spacing: -0.01em;
}

h1 {
    margin: 0 0 var(--spacing-x-large);
    font-size: var(--font-size-xlarge);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium)
}

h4 {
    font-size: var(--font-size)
}

h5,
h6,
p,
ul,
ol {
    font-size: var(--font-size);
    line-height: var(--lineheight-high);
    font-weight: var(--font-weight);
}

p {
	margin-bottom: var(--margin-large);
}

a {
	color: inherit;
	font-weight: var(--font-weight-bold);
}

a:hover {
	text-decoration: none;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
	text-decoration: none;
}

.headline {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
	line-height: var(--lineheight-normal);
	margin-bottom: 40px;
}

.xlarge {
	font-size: var(--font-size-xlarge);
	line-height: var(--lineheight-tight);
	margin-bottom: var(--margin-xxxlarge);
}

.large {
	font-size: var(--font-size-large);
	line-height: var(--lineheight-tight);
	margin-bottom: var(--margin-xlarge);
}

.medium {
	font-size: var(--font-size-medium);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-tight);
}

.standard {
	font-size: var(--font-size);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-normal);
}

.small {
	font-size: var(--font-size-small);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-normal);
}

blockquote {
	position: relative;
	padding-left: 20px;
}

.uppercase {
	text-transform: uppercase;
}

.bold,
strong,
b {
	font-weight: var(--font-weight-bold);
}

blockquote p {
	font-family: var(--font-family);
	font-weight: var(--font-weight-bold);
	line-height: var(--lineheight-normal);
	font-size: var(--font-size-large);
	font-style: italic;
}

blockquote .medium {
	font-size: var(--font-size-medium);
	color: var(--color-accent);
	font-weight: var(--font-weight);
	font-style: italic;
	text-transform: none;
}

blockquote:before {
	content: '';
	background: url(../img/quote.png) no-repeat center center;
	background-size: 70%;
	position: absolute;
	font-size: 100px;
	width: 100px;
	height: 100px;
	top: -40px;
	left: -65px;
}

p + blockquote {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 80px;
}

.twocolumn {
	 -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  column-width: 300px;
  -webkit-column-gap: 80px;
  -moz-column-gap: 80px;
  column-gap: 80px;
}

strong {
	font-weight: var(--font-weight-bold);
}

img {
	width: 100%;
}

nav {
	display: none;
}

nav ul {
	display: flex;
}

nav ul li {
	margin-right: 40px;
}

header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: var(--grid-gap);
	padding: 50px 0 0;
	grid-column: 1;
}

main {
	grid-column: 1/-1;
	grid-gap: var(--grid-gap-small);
	display: grid;
	grid-template-columns: 1fr;
	padding: 20px;
}

.intro {
	font-size: var(--font-size-medium);
	line-height: var(--lineheight-normal);
	margin-top: -0.1em;
	font-weight: 700;
}

h1.medium {
	grid-column: 1/-1;
	margin-bottom: 0;
	grid-row: 1;
}


article p.xlarge.bold {
	grid-column: 1/-1;
	margin: 40px 0 20px;
	align-self: flex-end;
}

article > p.medium {
	grid-column: 1/-1;
}

.shaded {
	display: grid;
	grid-gap: var(--grid-gap-small);
	grid-template-rows: auto auto;
}

.shaded .wrapper {
	padding: 30px;
	margin: 0;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	background-color: #d00027;
	color: white;
}

.shaded .wrapper h3 {
	//border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	color: white;
	//padding-bottom: 20px;
}

.shaded dl {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	font-style: italic;
}

.shaded dt {
	font-weight: bold;
}

article .main-content p{
	margin-bottom: 0;
}

article .main-content p + p{
	margin-top: 40px;
}


@media only screen and (min-width: 768px) {
	header {
		grid-template-columns: 1fr 2fr 3fr 1fr;
	}

	main {
		grid-column: 1;
		grid-gap: var(--grid-gap);
		display: grid;
		padding: 50px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	article {
		grid-column: 1/3;
	}

	.shaded {
		grid-column: 3/5;
	}

	.img-01 {
		grid-column: 1/3;
	}

	.img-02 {
		align-self: flex-end;
	}

	.img-03 {
		grid-column: 3/5;
	}

}

@media only screen and (min-width: 1200px) {
	
	main {
		grid-column: 1;
		grid-gap: var(--grid-gap-small);
		display: grid;
		grid-template-columns: 2fr 2fr 1fr;
	}

	article {
		grid-column: 1;
		grid-row: span 2/4;
		display: grid;
		grid-gap: var(--grid-gap);
		grid-template-columns: 1fr;
	}

	.shaded {
		grid-column: 3;
		grid-row: 2/4;
		align-self: flex-start;
	}

	.img-01 img,
	.img-02 img,
	.img-03 img {
  		width: 100%;
  		height: 100%;
  		object-fit: cover;
	}

	.img-01,
	.img-03 {
		grid-column: 2;
	}

	.img-01 {
		grid-row: 2;
	}

	.img-02 {
		align-self: flex-end;
		grid-row: 2;
	}
}

@media only screen and (min-width: 1400px) {
	article {
		grid-template-columns: 1fr 1fr;
	}

	article .main-content {
		grid-column: 2;
	}
}

